<h1 class="top">Top articles</h1>
    <%= link_to "Back to rooms", rooms_path %>


<div id="collecteds" class="cards">
  <% @articles.each do |article| %>
        <div class="card no_link">
      <%= link_to article do %>
          <%= render article %>
      <% end %>
        </div>
  <% end %>
</div>
