<h1 class="toprooms">Top rooms</h1>
    <%= link_to "Back to rooms", rooms_path %>


<div id="collecteds" class="cards">
  <% @rooms.each do |room| %>
        <div class="card no_link">
      <%#= link_to article do %>
          <%= render room %>
      <%# end %>
        </div>
  <% end %>
</div>
